<h1>Статья</h1>
<ul class="list-group">
<li class="list-group-item">Id: <%= @article.id %></li>
<li class="list-group-item">Title: <%= @article.title %></li>
<li class="list-group-item">Text: <%= @article.text %></li>
<li class="list-group-item"> <%= link_to "Список тегов", article_tags_path(@article.id) %></li>
</ul>